<div class="row registrationPanel">
    <div class="col-xs-offset-4 col-xs-6 col-md-offset-4 col-md-4">
        <div class="panel panel-primary">

            <div class="panel-heading">Connect us!</div>

            <form class="form-horizontal">
                
                <div class="form-group">
                    <label for="nameRegistrationField" class="col-sm-3 control-label">Name</label>
                    <div class="col-sm-7">
                        <input type="name" class="form-control" id="nameRegistrationField" placeholder="Name" ng-model="user.name" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="emailRegistrationField" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-7">
                        <input type="email" class="form-control" id="emailRegistrationField" placeholder="Email" ng-model="user.email" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="passwordRegistrationField" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="passwordRegistrationField" placeholder="Password" ng-model="user.password" required>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="passwordRepeatField" class="col-sm-3 control-label">Repeat Password</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="passwordRepeatField" placeholder="Repeat Password" ng-model="user.passwordRepeat" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-7">
                        <button type="submit" class="btn btn-primary">Registration</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>