<div class="row generalPanel">
    <div class="col-xs-offset-4 col-xs-6 col-md-offset-4 col-md-4">
        <div class="panel panel-primary">

            <div class="panel-heading">Connect us!</div>

            <form class="form-horizontal">

                <div class="form-group">
                    <label for="emailField" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-7">
                        <input type="email" class="form-control" id="emailField" placeholder="Email" ng-model="user.email" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="passwordField" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control" id="passwordField" placeholder="Password" ng-model="user.password" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-7">
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>